header {
  position: relative;
  width: 100vw;
  height: calc(500px - 3dvh);
  overflow: hidden;

  @media (max-width: 1200px) {
    height: calc(400px - 3dvh);
  }

  @media (max-width: 760px) {
    height: calc(300px - 3dvh);
  }

  @media (max-width: 560px) {
    height: calc(300px - 3dvh);
  }

  .container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    color: #000000;

    @media (max-width: 560px) {
      margin-bottom: 50px;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 25px !important;
    padding-bottom: 25px !important;

    ul {
      li {
        transition: all 0.5s ease;

        display: inline-block;
        margin-left: 8px;
        opacity: 50%;

        a {
          text-decoration: none;
        }

        &.link:hover {
          opacity: 80%;
        }

        &.active {
          opacity: 100%;
        }
      }
    }
  }

  .link-container {
    .generic-link {
      font-size: var(--font-size-body-medium);
      color: #000000;
    }
  }
}

.background {
  position: absolute;
  top: -3dvh;
  left: 0;

  width: 100%;

  @media (max-width: 760px) {
    top: -15dvh;

    @media (min-height: 750px) {
      top: -10dvh;
    }
  }

  @media (max-width: 560px) {
    top: -20dvh;

    @media (min-height: 750px) {
      top: -10dvh;
    }
  }

  img {
    width: 100%;
  }
}

.navigation-container {
  z-index: 100;
  position: relative;

  li {
    list-style-type: none;
    padding: 7px 8px 12px;

    .generic-link {
      color: #ffffff;
      border-bottom-color: #ffffff;

      @media (min-width: 760px) {
        &:hover {
          color: #ffffff;
          border-bottom-color: #ffffff;
        }
      }
    }
  }
}

.main-nav {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  background-color: rgba(76, 76, 76, 255);
  height: 40px;

  .link-container {
    margin-top: -10px;
  }

  .generic-link {
    font-family: var(--font-family-secondary);
    font-size: 45px;
    line-height: 0.65;
  }
}

.sub-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;

  background-color: rgba(92, 92, 92, 0.05);

  @media (max-width: 394px) {
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  @media (max-width: 760px) {
    padding: 0 50px;
  }

  @media (max-width: 593px) {
    padding: 0;
  }

  li {
    @media (max-width: 760px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    .active {
      border-bottom-width: 2px;
    }

    .generic-link {
      color: rgba(76, 76, 76, 255);
      border-bottom-color: rgba(76, 76, 76, 255);

      @media (min-width: 760px) {
        &:hover {
          color: rgba(76, 76, 76, 255);
          border-bottom-color: rgba(76, 76, 76, 255);
        }
      }
    }
  }
}
