footer {
  &.footer-container {
    width: 100%;
    max-width: none;
    margin: 50px auto 0;
    color: var(--tertiary-color);
    background-color: var(--light-green);

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      max-width: none;
      height: 72px;

      padding-top: 25px !important;
      padding-bottom: 25px !important;

      font-size: 16px;
    }
  }
}
